uvicorn[standard]==0.35.0
python-jose[cryptography]==3.5.0
bcrypt==4.3.0
python-multipart==0.0.20
pandas==2.3.3
openpyxl==3.1.5
pillow==11.3.0
sqlalchemy==2.0.43
numpy==2.3.2
scikit-learn==1.7.1
fastapi==0.116.1
pydantic==2.11.7
psycopg[binary]==3.2.9
xgboost==3.0.4